{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="work-content">
        <div class="visible-xs">
            <h3 class="text-center">About</h3>
            <br />
        </div>
        <img src="{{ featured_image.url }}" style="max-width:100%;"></img>
        <br />
        <br />
        <p>{{ bio|linebreaks }}</p>
    </div>
{% endblock %}

{% block extra-js %}
<script>
    $(function() {
        /* Set the current nav tab as 'selected' */
        $('.sidebar-select').removeAttr('style'); // reset all navs
        $('#about-liz-sidebar').css('background-color', '#e6e6e6'); // select the current nav
        $('#about-content-sidebar').toggleClass('in');
    });
</script>
{% endblock %}