<h4>Solo</h4>
<hr />

<table class="table text-left no-borders">
    <tbody>
        <tr>
            <th class="col-xs-1">2016</th>
            <td><i>Body Party</i>, The Brodsky Gallery, Philadelphia, PA</i></td>
        </tr>
        <tr>
    </tbody>
</table>

<h4>Group</h4>
<hr />

<table class="table text-left no-borders">
    <tbody>
        </tr>
        <tr>
            <th class="col-xs-1">2017</th>
            <td><i><a class="table-link" href="http://afterschoolspecial.info/GenderFail-Presents-Queer-Date">GenderFail Presents: Queer Date</a></i>, The Lunchbox, Milwaukee, WI</td>
        </tr>
        <tr>
            <th class="col-xs-1">2016</th>
            <td><i><a class="table-link" href="https://www.design.upenn.edu/fine-arts/undergraduate/post/fine-arts-2016-senior-thesis-exhibiti on-installation">Undergraduate Senior Thesis Exhibition</a></i>, Charles Addams Fine Arts Gallery at the University of Pennsylvania, Philadelphia, PA</td>
        </tr>
        <tr>
            <th class="col-xs-1">2016</th>
            <td><i><a class="table-link" href="http://fleisher.org/event/first-edition-2016-new-philadelphia-printmakers/">New Philadelphia Printmakers</a></i>, Fleisher Art Memorial Center for Works on Paper, Philadelphia, PA</td>
        </tr>
        <tr>
            <th class="col-xs-1">2016</th>
            <td><i>Good to Know</i>, Goldilocks Gallery, Philadelphia, PA</td>
        </tr>
        <tr>
            <th class="col-xs-1">2015</th>
            <td><i>Body/Body</i>, Philomathean Art Gallery, Philadelphia, PA</td>
        </tr>
    </tbody>
</table>

<h4>Selected Press</h4>
<hr />

<table class="table text-left no-borders">
    <tbody>
        <tr>
            <th class="col-xs-1">2016</th>
            <td><a class="table-link" href="http://www.thelesigh.com/2016/01/girl-spotlight-liz-barr.html">“Girl Spotlight: Liz Barr”</a> by Rachel Davies, <i>The Le Sigh</i></td>
        </tr>
    </tbody>
</table>

<h4>Selected Publications</h4>
<hr />

<table class="table text-left no-borders">
    <tbody>
        <tr>
            <th class="col-xs-1">2017</th>
            <td><i><a class="table-link" href="http://lestemag.bigcartel.com/product/leste-issue-3">Leste Mag</a></i> - Issue 3 (featured works)</td>
        </tr>
        <tr>
            <th class="col-xs-1">2015</th>
            <td><i>VICE Motherboard</i>, <a class="table-link" href="https://motherboard.vice.com/en_us/article/negotiations-at-the-irlurl-border">"Negotiations at the IRL/URL Border"</a> by Jamie Lauren Keiles (published image)</td>
        </tr>
    </tbody>
</table>

<h4>Libraries &amp; Archives</h4>
<hr />

<table class="table text-left no-borders">
    <tbody>
        <tr>
            <td><a class="table-link" href="http://kwhzineproject.tumblr.com/">Kelly Writers House Zine Library</a>, Philadelphia, PA</td>
        </tr>
        <tr>
            <td><a class="table-link" href="http://www.littleberlin.org/zine-library/">Little Berlin Zine Library</a>, Philadelphia, PA</td>
        </tr>
        <tr>
            <td><a class="table-link" href="https://buildcoffee.org/">Build Coffee Zine Library</a>, Chicago, IL</td>
        </tr>
    </tbody>
</table>