{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="work-content">
        {% if featured_image %}
        <div class="visible-xs">
            <h3 class="text-center">Exhibitions &amp; Press</h3>
            <br />
        </div>
        <img src="{{ featured_image.url }}" style="max-width:100%;"></img>
        <br />
        <br />
        {% endif %}
        <h3>Selected Exhibitions</h3>
        <br />
        {% with html=text|safe %}
            {{ html }}
        {% endwith %}
    </div>
{% endblock %}

{% block extra-js %}
<script>
    $(function() {
        /* Set the current nav tab as 'selected' */
        $('.sidebar-select').removeAttr('style'); // reset all navs
        $('#exhibitions-sidebar').css('background-color', '#e6e6e6'); // select the current nav
        $('#about-content-sidebar').toggleClass('in');
    });
</script>
{% endblock %}