{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="work-content">
        <p>Liz Barr is an interdisciplinary artist living and working in Philadelphia, PA. 
            <a href="/about/">
                <strong>Read&nbsp;more&nbsp;<i class="fa fa-fw fa-arrow-right"></i></strong>
            </a>
        </p>
        <h2 class="hidden-xs text-center">Featured work</h2>
        <h3 class="visible-xs text-center">Featured work</h3>
        <br />
        {% if user.is_staff %}
        <a href="admin/portfolio/work/?featured__exact=1" class="text-center">
            <p class="text-center">
                <i class="fa fa-fw fa-pencil text-center"></i>
                <strong>Edit featured images</strong>
            </p>
        </a>
        <br />
        {% endif %}
        {% for project in featured_projects %}
        <a href="/work/{{project.slug}}">
<!--             {% if project.featured_image.thumbnail %}
            <img src="{{ project.featured_image.thumbnail.url }}" class="img-responsive center-block"></img>
            {% else %} -->
            <img src="{{ project.featured_image.image.url }}" class="img-responsive center-block"></img>
<!--             {% endif %} -->
            <br />
            <p class="text-center">"{{ project.title }}", {{ project.materials }}, {{ project.year }}</p>
        </a>
        <hr />
        {% endfor %}
    </div>
{% endblock %}