{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Work grid -->
<div class="work-content">
    <h3 class="text-center">{{ project.title }}</h3>
    {% if not project.featured_image %}
    <p class="text-center">{{ project.materials }}</h4>
    <p class="text-center">{{ project.year }}</h4>
    {% endif %}
    <br />
    {% if project.featured_image.large %}
    <img src="{{ project.featured_image.large.url }}"
         srcset="{{ project.featured_image.small.url }} {{ project.featured_image.small.width }}w,
                 {{ project.featured_image.thumbnail.url }} {{ project.featured_image.thumbnail.width }}w,
                 {{ project.featured_image.medium.url }} {{ project.featured_image.medium.width }}w,
                 {{ project.featured_image.large.url }} {{ project.featured_image.large.width }}w,
                 {{ project.featured_image.image.url }} {{ project.featured_image.image.width }}w"
         sizes="(min-width: 1200px) calc(50vw - 30px),
                (min-width: 768px) calc(58vw - 30px),
                100vw"
         class="img-responsive center-block">
    </img>
    {% else %}
    <img src="{{ project.featured_image.image.url }}" class="img-responsive center-block"></img>
    {% endif %}
    <br />
    {% if project.featured_image %}
    <p><i><strong>{{ project.title }}</strong></i></p>
    <p>{{ project.materials }}</p>
    <p>{{ project.year }}</p>
    <br />
    {% endif %}
    {% if project.statement %}
    <p>{{ project.statement|linebreaks }}</p>
    {% endif %}
    <div class="grid">
        <div class="grid-sizer"></div>
        <div class="grid-gutter"></div>
        {% for work in works %}
        <div class="grid-item">
            {% if user.is_staff %}
            <a href="/admin/portfolio/work/{{ work.pk }}/change/" class="admin-edit">
                <i class="fa fa-fw fa-pencil"></i>
                <strong>Edit this work</strong>
            </a>
            <br />
            {% endif %}
            <a href="javascript:void(0)" class="img-link" alt="{{ work.alt_text }}">
                {% if work.large %}
                <img src="{{ work.large.url }}"
                     srcset="{{ work.small.url }} {{ work.small.width }}w,
                             {{ work.thumbnail.url }} {{ work.thumbnail.width }}w,
                             {{ work.medium.url }} {{ work.medium.width }}w,
                             {{ work.large.url }} {{ work.large.width }}w,
                             {{ work.image.url }} {{ work.image.width }}w"
                     sizes="(min-width: 1200px) calc(25vw - 30px),
                            (min-width: 768px) calc(29vw - 30px),
                            100vw"
                     class="img-responsive center-block"
                     data-src="{{ work.image.url }}"
                     data-width="{{ work.image.width }}"
                     data-height="{{ work.image.height }}">
                </img>
                {% else %}
                <img class="img-responsive center-block" src="{{ work.image.url }}" data-src="{{ work.image.url }}" data-width="{{ work.image.width }}" data-height="{{ work.image.height }}"></img>
                {% endif %}
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Root element for PhotoSwipe gallery -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>
<div id="which-project" data-category="{{ project.slug }}"></div>
<div id="which-category" data-category="{{ project.category.slug }}"></div>
{% endblock %}

{% block extra-js %}
<!-- Load external JS libraries for images -->
<script src="{% static 'js/imagesloaded.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/masonry.pkgd.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/photoswipe.js' %}" type="text/javascript"></script>
<script src="{% static 'js/photoswipe-ui-default.min.js' %}" type="text/javascript"></script>
<link href="{% static 'css/photoswipe.css' %}" rel="stylesheet">
<link href="{% static 'css/default-skin.css' %}" rel="stylesheet">

<script>
    $(function() {
        // Initialize Masonry image grid
        var $grid = $('.grid');
        $grid.imagesLoaded(function() {
            $grid.masonry({
                itemSelector: '.grid-item',
                columnwidth: '.grid-sizer',
                percentPosition: true,
                gutter: '.grid-gutter'
            });
        });

        // Define gallery function
        var openGallery = function(items, ind) {
            var options = {
                index: ind,
                escKey: true,
                bgOpacity: 0.8
            }
            var pswpElement = document.querySelectorAll('.pswp')[0];
            var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
            gallery.init();
        }

        // Initialize PhotoSwipe gallery
        var items = []
        var i = 0
        $('.grid-item>a>img').each(function() {
            // Add data to global `items` array
            items.push({
                src: $(this).attr('data-src'),
                w: parseInt($(this).attr('data-width')),
                h: parseInt($(this).attr('data-height')) 
            });
            // Bind gallery functions
            itemIndex = i;
            i++;
            $(this).attr('data-pswp-uid', itemIndex);
            $(this).closest('a').click(function() {
                openGallery(items, parseInt($(this).children('img').attr('data-pswp-uid'))); 
            });
        });

        // Set the current nav tab as 'selected'
        var project = $('#which-project').attr('data-category');
        var category = $('#which-category').attr('data-category');
        $('.sidebar-select').removeAttr('style'); // reset all navs
        $('#' + category + '-content-sidebar').addClass('in');
        $('#' + project).css('background-color', '#e6e6e6'); // select the current nav
    });
</script>
{% endblock %}