{% load static %}
<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>
      {% if page.title %}{{ page.title }} -{% endif %} Liz Barr
    </title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.description %}
      <meta content="{{ page.description }}" name='description' />
    {% else %}
      <meta content="{{ SITE_DESCRIPTION }}" name='description' />
    {% endif %}
    <meta content='jeancochrane.com' name='author' />

    <!-- Favicon -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'favicon/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'favicon/apple-touch-icon-114x114.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'favicon/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'favicon/apple-touch-icon-144x144.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'favicon/apple-touch-icon-120x120.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'favicon/apple-touch-icon-152x152.png' %}" />
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-32x32.png' %}" sizes="32x32" />
    <meta name="application-name" content="Liz Barr"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{% static 'favicon/mstile-144x144.png' %}" />

    <!-- Facebook metadata -->
    <meta content="{{ SITE_NAME }}" property="og:site_name">
    <meta content="website" property="og:type">
    {% if featured_image %}
    <meta content="https://liz-barr.com{{ featured_image.url }}" property="og:image">
    {% elif featured_projects %}
      {% with featured_projects|first as prj %}
        <meta content="https://liz-barr.com{{ prj.featured_image.work_image.url }}" property="og:image">
      {% endwith %}
    {% elif works %}
      {% with works|first as wrk %}
        <meta content="https://liz-barr.com{{ wrk.work_image.url }}" property="og:image">
      {% endwith %}
    {% endif %}
    {% if page.title %}
      <meta content="{{ page.title }} - {{ SITE_NAME }}" property="og:title">
    {% else %}
      <meta content="{{ SITE_NAME }}" property="og:title">
    {% endif %}
    {% if page.description %}
      <meta content="{{ page.description }}" property="og:description">
    {% else %}
      <meta content="{{ SITE_DESCRIPTION }}" property="og:description">
    {% endif %}
    {% if request.build_absolute_uri %}
        <meta content="{{ request.build_absolute_uri }}" property="og:url">
    {% else %}
        <meta content="https://liz-barr.com" property="og:url">
    {% endif %}

    <!-- Twitter metadata -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@jean_cochrane">
    {% if featured_image %}
    <meta name="twitter:image:src" content="https://liz-barr.com{{ featured_image.url }}">
    {% elif featured_projects %}
      {% with featured_projects|first as feat %}
        <meta name="twitter:image:src" content="https://liz-barr.com{{ feat.project_image.url }}">
      {% endwith %}
    {% elif works %}
      {% with works|first as wrk %}
        <meta name="twitter:image:src" content="https://liz-barr.com{{ wrk.work_image.url }}">
      {% endwith %}
    {% endif %}
    {% if page.title %}
      <meta name="twitter:title" content="{{ page.title }} - {{ SITE_NAME }}">
    {% else %}
      <meta name="twitter:title" content="{{ SITE_NAME }}">
    {% endif %}
    {% if request.build_absolute_uri %}
      <meta name="twitter:url" content="{{ request.build_absolute_uri }}">
    {% else %}
      <meta name="twitter:url" content="https://liz-barr.com">
    {% endif %}
    {% if page.description %}
      <meta name="twitter:description" content="{{ page.description }}">
    {% else %}
      <meta name="twitter:description" content="{{ SITE_DESCRIPTION }}">
    {% endif %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">

    <!-- Typeface -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300,400" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->

    <!-- JS libraries -->
    <script src="{% static 'js/jquery-1.10.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </head>
  <body>
    <!-- header -->
    <header>
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header col-sm-3 col-sm-offset-1">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div>
            <h1 class="liz-name">
              <a href="/">Liz Barr</a>
            </h1>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="collapse">
          <div class="nav navbar-nav visible-xs">
          <div role="tablist" id="about-title">
            <a role="button" data-toggle="collapse" href="#about-content">
              <div class="sidebar-select about">
                <i class="fa fa-lg fa-fw fa-question-circle"></i>
                <span>About</span>
              </div>
            </a>
            <div id="about-content" class="panel-collapse collapse" role="tabpanel">
              <a href="{% url 'about' %}">
                <div class="panel-body sidebar-child" id="about-liz">
                  <span>About Liz</span>
                </div>
              </a>
              <a href="{% url 'exhibitions' %}">
                <div class="panel-body sidebar-child" id="exhibitions">
                  <span>Exhibitions</span>
                </div>
              </a>
              <a href="{% url 'contact' %}">
                <div class="panel-body sidebar-child" id="contact">
                  <span>Contact</span>
                </div>
              </a>
            </div>
          </div>
          <a role="button" data-toggle="collapse" href="#design-content">
            <div class="sidebar-select design">
              <i class="fa fa-fw fa-lg fa-pencil"></i>
              <span>Design</span>
            </div>
          </a>
          <div id="design-content" class="panel-collapse collapse" role="tabpanel">
            {% for project in projects.design %}
            <a href="{% url 'work' project.slug %}">
              <div class="panel-body sidebar-child">
                <span>"{{project.title}}", {{project.year}}</span>
              </div>
            </a>
            {% endfor %}
          </div>
          <a role="button" data-toggle="collapse" href="#zines-content">
            <div class="sidebar-select zines"> 
              <i class="fa fa-lg fa-fw fa-book"></i>
              <span>Zines</span>
            </div>
          </a>
          <div id="zines-content" class="panel-collapse collapse" role="tabpanel">
            {% for project in projects.zines %}
            <a href="{% url 'work' project.slug %}">
              <div class="panel-body sidebar-child">
                <span>"{{project.title}}", {{project.year}}</span>
              </div>
            </a>
            {% endfor %}
          </div>
          <a role="button" data-toggle="collapse" href="#bodies-content">
            <div class="sidebar-select bodies">
              <i class="fa fa-lg fa-fw fa-female"></i>
              <span>Bodies</span>
            </div>
          </a>
          <div id="bodies-content" class="panel-collapse collapse" role="tabpanel">
            {% for project in projects.bodies %}
            <a href="{% url 'work' project.slug %}">
              <div class="panel-body sidebar-child">
                <span>"{{project.title}}", {{project.year}}</span>
              </div>
            </a>
            {% endfor %}
          </div>
          <a role="button" data-toggle="collapse" href="#screens-content">
            <div class="sidebar-select screens"> 
              <i class="fa fa-lg fa-fw fa-desktop"></i>
              <span>Screens</span>
            </div>
          </a>
          <div id="screens-content" class="panel-collapse collapse" role="tabpanel">
            {% for project in projects.screens %}
            <a href="{% url 'work' project.slug %}">
              <div class="panel-body sidebar-child">
                <span>"{{project.title}}", {{project.year}}</span>
              </div>
            </a>
            {% endfor %}
          </div>
          {% if user.is_staff %}
          <a href="/admin/logout/">
            <div class="sidebar-select logout">
              <i class="fa fa-lg fa-fw fa-arrow-right"></i>
              <span>Log out</span>
            </div>
          </a>
          {% endif %}
        </div>
      </div>
      </nav>
    </header>

    <!-- body -->
    <div class="container-fluid">
      <div class="row">
        <!-- sidebar -->
        <aside class="col-sm-3 col-sm-offset-1 hidden-xs">
          <div class="nav navbar-collapse" id="accordion" role="tablist">
            <div id="about-title-sidebar" role="tablist">
              <a role="button" data-toggle="collapse" href="#about-content-sidebar" data-parent="#accordion">
                <div class="sidebar-select about">
                  <i class="fa fa-lg fa-fw fa-question-circle"></i>
                  <span>About</span>
                </div>
              </a>
              <div id="about-content-sidebar" class="panel-collapse collapse" role="tabpanel">
                <a href="{% url 'about' %}">
                  <div class="panel-body sidebar-child" id="about-liz-sidebar">
                    <span>About Liz</span>
                  </div>
                </a>
                <a href="{% url 'exhibitions' %}">
                  <div class="panel-body sidebar-child" id="exhibitions-sidebar">
                    <span>Exhibitions</span>
                  </div>
                </a>
                <a href="{% url 'contact' %}">
                  <div class="panel-body sidebar-child" id="contact-sidebar">
                    <span>Contact</span>
                  </div>
                </a>
              </div>
            </div>
            <a role="button" data-toggle="collapse" href="#design-content-sidebar" data-parent="#accordion">
              <div class="sidebar-select design">
                <i class="fa fa-fw fa-lg fa-pencil"></i>
                <span>Design</span>
              </div>
            </a>
            <div id="design-content-sidebar" class="panel-collapse collapse" role="tabpanel">
              {% for project in projects.design %}
              <a href="{% url 'work' project.slug %}">
                <div class="panel-body sidebar-child" id="{{ project.slug }}">
                  <span>"{{project.title}}", {{project.year}}</span>
                </div>
              </a>
              {% endfor %}
            </div>
            <a role="button" data-toggle="collapse" href="#zines-content-sidebar" data-parent="#accordion">
              <div class="sidebar-select zines"> 
                <i class="fa fa-lg fa-fw fa-book"></i>
                <span>Zines</span>
              </div>
            </a>
            <div id="zines-content-sidebar" class="panel-collapse collapse" role="tabpanel">
              {% for project in projects.zines %}
              <a href="{% url 'work' project.slug %}">
                <div class="panel-body sidebar-child" id="{{ project.slug }}">
                  <span>"{{project.title}}", {{project.year}}</span>
                </div>
              </a>
              {% endfor %}
            </div>
            <a role="button" data-toggle="collapse" href="#bodies-content-sidebar" data-parent="#accordion">
              <div class="sidebar-select bodies">
                <i class="fa fa-lg fa-fw fa-female"></i>
                <span>Bodies</span>
              </div>
            </a>
            <div id="bodies-content-sidebar" class="panel-collapse collapse" role="tabpanel" data-parent="#accordion">
              {% for project in projects.bodies %}
              <a href="{% url 'work' project.slug %}">
                <div class="panel-body sidebar-child" id="{{ project.slug }}">
                  <span>"{{project.title}}", {{project.year}}</span>
                </div>
              </a>
              {% endfor %}
            </div>
            <a role="button" data-toggle="collapse" href="#screens-content-sidebar" data-parent="#accordion">
              <div class="sidebar-select screens"> 
                <i class="fa fa-lg fa-fw fa-desktop"></i>
                <span>Screens</span>
              </div>
            </a>
            <div id="screens-content-sidebar" class="panel-collapse collapse" role="tabpanel">
              {% for project in projects.screens %}
              <a href="{% url 'work' project.slug %}">
                <div class="panel-body sidebar-child" id="{{ project.slug }}">
                  <span>"{{project.title}}", {{project.year}}</span>
                </div>
              </a>
              {% endfor %}
            </div>
            {% if user.is_staff %}
            <a href="/admin/logout/">
              <div class="sidebar-select logout">
                <i class="fa fa-lg fa-fw fa-arrow-right"></i>
                <span>Log out</span>
              </div>
            </a>
            {% endif %}
          </div>
        </aside>
        <!-- content -->
        <div class="col-xs-12 col-sm-7 col-lg-6 work-container">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
<script src="{% static 'js/analytics_lib.js' %}"></script>
<script>
$(function() {
    /* Make sure the content is the only scrollable element */
    $(window).resize(function () {
        var h = $(window).height(),
            offsetTop = 100; // Calculate the top offset
        $('.work-container').css('height', (h - offsetTop));
    }).resize();
});
</script>
{% block extra-js %}{% endblock %}